.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.left-nav {

  > ul {
    > li {
      font-size: 0.6875rem;
      font-family: 'nyt-franklin', Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }
  }

  span {
    margin: 10px;

  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
      font-size: 15px;
      	background-color:$lightest-gray;
        border-color:gray;
        padding: 7px 9px;
        border-radius: 3px;
        transition: background-color 0.3s;
        font-size: 0.6875rem;
        text-align: center;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background: $lightest-gray;
}
